*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    background-color: #4f545c;
  }
  h1{
    position: absolute;
    top: 20%;
    left: 50%;
    color: #fff;
    font-size: 70px;
    transform: translate(-50%, -50%);
  }
  